language: python
sudo: false
python:
  - "3.5"
  - "3.6"
env:
  global:
    - secure: hWCHIpuqhVL4ObdjoyyF95xCCBTWeLJO59w1ocAc5paCHtANeQmqZcvoDcB4lBb5nkt2HaLuyqIIAaSIYcAgCQfTAV6eFVCdpf6k1dmMIW9PJR9zclOjc+ietbRFrF21P1J4DSQ7pJ/1Cv2DOm5PL3OELKvCxYd5mJ0uV/94+TkmrA18KqPSr8Psy2HxM4QJVNVSLcifT/W0OoZ7x8VbUCy3qf07xGiqJQtLTutL29kUA/yZii3WU4Y6u6BVKdgKaMf+uK0koscJVaS5bg2NljHSREgHV6coWLFfjibRoDQ1h769nmjb0tL6bgNFlFggTlSgzVVAvVbkdRdRgaHitNSsM+siY46hNXQOM2T7gRvQwwYywhJVhrYLqsR9/MUXUYaJPd+iBsHG+dGZRd9uHmnIoaaVZJa8fMhcBO83IYs7Lhho+cSDZAu1syVG///upeXq7rIztQNxeyFO66OF+HgYebeDF0flTl/Uel8LoQtV4Zy3LQWXrRoaNp915zL3tR7U1Tggomd4PspF9C5MblZx/ljd/+8KZ3SKChTMyQoJPOWrkjq6hmHgymtD/3SK4wrN2AHsnEnOsW7HGHqWlet6PJW3DFBicBLpKpwYqf0qsze6Mq5ZFL/0drA+8GvkyyMyEO+kE7/BzpECBd1hoQp3Oz6YolJBj60NxlFdGzE=

install:
  - pip install gravitybee satsuki
  - pip install --editable .
script:
  - pytest
before_deploy:
  - |
    if [ "$TRAVIS_BRANCH" = "dev" ]; then
      sed -i -E "s/^(version = )(.*)/\1\2.$TRAVIS_BUILD_NUMBER/" $TRAVIS_BUILD_DIR/setup.cfg
    elif [ "$TRAVIS_BRANCH" = "master" ]; then
      gravitybee --verbose --sha file
      export SATS_TAG=$(grep "version = " $TRAVIS_BUILD_DIR/setup.cfg | sed "s/version = //")
      export SATS_BODY="* [Pyppyn v$SATS_TAG CHANGELOG](https://github.com/YakDriver/pyppyn/blob/$SATS_TAG/CHANGELOG.rst)"
    fi
deploy:
  - provider: pypi
    server: https://test.pypi.org/legacy/
    distributions: sdist bdist_wheel
    user: YakDriver
    password:
      secure: Ll07zP0rCGNtI60s3UFpYx9DRqoHMdKVEaGN7NnoFbPJtc+0wi4NE8ZlQXDCvdndDowiolJD5l0n/kO1XM7RSkaYpkSq7uHkOKnwvGPfVD9jt7aHkMT0hxij42v0+mbp/gxJZG0K+oouq34O6CgGzR9OOM8/6Z9xkMp72m0ULkIQ6SJyYPZ95zFeHumBLTRUWYhw/6jQNsTmyVwB1gSiB12dj2PkrlkZfXuZpy+QgwO2lmcl/b5jvWk8gPv1DxggV4FmaaXXlaJkV3+LSpIs0aiXX1vmS2Z+UXqJ2F9TY9d57b/Rk2bz7E5biVlJRSkLYyRteZUjzmeENZi20nX5t8DKB0EhJ5G6toEphTIY0SLLpbCWtmi5e/wv6FzZPvb86t9IJgp8kEZKHukofo4MwysXnt1fUGyqHpZeK8cGx68+QKisGsvrAkDqWrzeUR6IBS50hQbcOua2uVFgBui3jh3+TuTEiSNtED4DucEIi2RaVJBHGPiFM+ZV7hy3DSB6gGfLGmsC9NmUsZrJ5jMJXmKsCmOuttz7YszdeGbNLcv7lBlvDU4tA+6kWPXG9Wj4t326GnSvuHS7q5684Cv6cq/u4iI7bqS0RoQ8QbsRqANxWoBeo3X0AWdi6xsz/83ljMzROLTxV75BCgPXUeIL9iTY26owGw2hE6LDRkUitXI=
    skip_cleanup: true
    skip_upload_docs: true
    on:
      branch: dev
      repo: YakDriver/pyppyn
      python: "3.6"
  - provider: script
    script: satsuki --verbose
    skip_cleanup: true
    on:
      branch: master
      repo: YakDriver/pyppyn
      python: "3.6"
  - provider: pypi
    distributions: sdist bdist_wheel
    user: YakDriver
    password:
      secure: msxEPL7wdduLIN+T9xm58nsN2of/wqUU985oJUjsTx6AiUBJFBfLeo/xJ92ne93ZSnlJA29Pj2zi6DeW2o9hJ/WhPoicBUdpQCdTEfsKZGS2CXHVQLg8D5njJi32EWha9dV5PicwQwxN1olHtG1KrU5N/NljWWvMuK3UHy74BSnikxu8s7t9Tww5umlecd8rQGyARipdQGOUQDmJre5RMmFSldmnQ+TkO47uBMkhdvbnixoqM2sAyqeQ198G4nL35bx7zSGuhZjcdS8UgSz+QeAyx9wDiwqEb6GgR+zJMU934bLMtNgV0sfHYsvm6Pkg5HnCmpPieXBYjCtjeJNIeZVGsP4Speq/Q7nKoxx/Yl1/CtBCX5qEUzjcZo0YizA5ipeYzz1jios9XkDbignJAW5iy4M6MKVdSn5XOW0Qsg6CzEJJGyR+5lsVc3okU2MaRmXKA2PdldknEsgGjy5zc75jXjEfWRQsuM1Tp6dFN3898mjYjmJfFQK8z74sq7IJXQYHi00nmslgkWEJVgOqRydAn+vqy9ug3h6dqw+0BK7A/tg28HkCucG9/eMyqcZT2yYulKSxy7E5C55nmzajVhD5RqIM561dNsmq8mpuJpWlp8RIQKgb5WAPQ/52T/3T+R/tc2vGFc/Ra7dXHygrQHfFSbD/dl4nNQY8rMmWLek=
    skip_upload_docs: true
    on:
      tags: true
      repo: YakDriver/pyppyn
      python: "3.6"
